@import "src/static/mixin";

.keypadWrapper {
  @include flex(row, center, center);
  gap: 5px;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px 0;
  background: white;

  .key {
    width: calc((100% / 4) - 5px);
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
  }
}