@import "src/static/mixin";

.keypad-wrapper {
  position: absolute;
  bottom: 0;
  @include flex(row, center, center);
  gap: 5px;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px 0;
  background: white;
  z-index: 1;

  > .key {
    width: calc((100% / 4) - 5px);
    padding: 15px;
    border: 1px solid black;
    text-align: center;
  }
}