@import "src/static/mixin";

.complete-card {
  @include flex(column, flex-start, flex-start);
  gap: 40px;
  width: 100%;
  padding: 20px 10px;
  border: 1px solid black;
  border-radius: 10px;

  .card-wrapper2 {
    position: relative;
    @include flex(row, flex-start, center);
    gap: 5px;

    .image-wrapper {
      width: 25px;
      height: 25px;
      background: red;
    }

    .card-name {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .card-info-wrapper {
    line-height: 20px;
  }
}