@import "src/static/mixin";

.completeCard {
  @include flex(column, flex-start, flex-start);
  gap: 40px;
  width: 100%;
  padding: 20px 10px;
  border: 1px solid black;
  border-radius: 10px;

  .cardWrapper {
    position: relative;
    @include flex(row, flex-start, center);
    gap: 5px;

    .imageWrapper {
      width: 25px;
      height: 25px;
      background: red;
    }

    .cardName {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .cardInfoWrapper {
    line-height: 20px;
  }
}