@import "src/static/mixin";

.completeTextWrapper {
  @include flex(column, center, center);
  gap: 20px;
  width: 100%;

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .subTitle {
    text-align: center;
    line-height: 20px;
  }
}