@import "src/static/mixin";

.card-wrapper {
  position: relative;
  @include flex(row, flex-start, center);
  gap: 5px;
  width: inherit;
  height: inherit;
  padding: 10px 10px;
  border: 1px solid black;

  .image-wrapper {
    width: 54px;
    height: 54px;
    background: red;
  }

  .card-info-wrapper {
    @include flex(column, flex-start, flex-start);
    gap: 10px;
    height: 100%;
  }

  .delete-icon-wrapper {
    position: absolute;
    right: 10px;
  }
}